/*reset ?*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  width: 100%;
  max-width: 100%;
  /* overflow: hidden;*/
}

/*
body.pages {
  padding: 2em;
}


html {
  overflow-y: scroll;
}
body {
  position: absolute;
}*/

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  position: absolute;
}

li {
  list-style: none;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansSerif {
  font-family: Arial, Helvetica, sans-serif;
}

.heroImage {
  background-image: url("images/banner-pic.jpeg");
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText h2 {
  line-height: 1.3em;
}

.heroText p {
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
}

.vectorIcon {
  width: 45%;
}

.vectorIcon path {
  fill: whitesmoke;
  stroke: whitesmoke;
}

nav {
  background-image: url("images/banner-pic-edit-1.png");
  width: 100%;
  max-width: 100%;
  padding-right: -2em;
}

/*cant see hamburger menu on desktop*/
.menuButton {
  visibility: hidden;
  max-height: 0;
}

.button-remove {
  border: none;
  background-color: none;
  cursor: pointer;
}
.mainPageMargin {
  margin-top: 1em;
}

nav > ul > li {
  margin-bottom: -2em;
}

.marginTop {
  margin-top: 1em;
}

.marginLeft {
  margin-left: 1em;
}

.columns {
  /*border: solid 1px black;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

.leftColumn,
.rightColumn {
  /* border: dashed 1px black;*/
  width: 25%;
  /*  text-wrap: wrap; */
  padding: 1em;
  /*;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;*/
}

.leftColumn p {
  max-width: 75%;
  display: inline-flexbox;
  flex-direction: column;
  justify-content: center;
}

.cartColumns {
  gap: 2em;
}

.checkoutColumns {
  gap: 2em;
}

.checkoutColumns > .leftColumn {
  width: 45%;
}

.checkoutColumns > .rightColumn {
  width: 30%;
}

.cartColumns > .leftColumn {
  width: 45%;
  box-shadow: 1px 1px 1px;
}

.productInfo p {
  max-width: 90%;
  line-height: 1.3em;
  margin: 0.5em;
}

.greyBox {
  background-color: #d7d7d7;
  padding: 2em;
  border: solid 1px black;
  border-radius: 5px;
  max-width: 95%;
}

.largeGreyBox .greyBox {
  background-color: whitesmoke;
}

.centerText {
  text-align: center;
}

.centerText > * + * {
  text-align: center;
  margin: 1em;
}

.whiteText {
  color: whitesmoke;
}

.blackText {
  color: black;
}

.titleText {
  margin-bottom: 1em;
}

.titleText > h3 {
  text-wrap: wrap;
  max-width: 50%;
}

.lineHeight {
  line-height: 1.5em;
}

a:link {
  text-decoration: none;
  color: inherit;
}

.leftRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}

.closer .orangeButton {
  margin-top: 0.8em;
  margin-bottom: -1em;
}

.heroImage h2 {
  font-size: 40px;
}

.heroText {
  padding: 6em 0 0 4em;
  width: 30%;
  font-weight: lighter;
}

.clusterNav {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 2em; padding-right: 2em;*/

  padding-bottom: 0;
  /*
  flex-grow: 0.5 2 0.5; */
}
.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  flex-direction: row;
}

.cluster > * {
  margin: 1.5em;
  /*  flex: 1 1 30%; */
}

nav > img {
  margin-left: 1em;
}

/*lines navbar along bottom*/

.menuList > li {
  margin-top: 10em;
}
nav > li {
  margin-bottom: -1em;
}
.icons {
  display: flex;
  flex-direction: row;
}

.freeShipping {
  background-color: #cb7e1f;
  width: 100%;
  max-width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.button {
  border: solid 2px whitesmoke;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  width: 45%;
  max-width: 100%;
  cursor: pointer;
}

.twoButtons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-action {
  border: solid 1px black;
  border-radius: 8px;
  padding: 0.8em;
  text-align: center;
  width: 95%;
  max-width: 100%;
  cursor: pointer;
  gap: 1em;
  box-shadow: 1px 1px 1px;
  font-size: 15px;
}

.inputButton {
  background-color: whitesmoke;
  padding: 0.5em;
  box-shadow: 1px 1px 1px;
  margin-bottom: 1.5em;
  gap: 1.5em;
  border: none;
}

.checkoutForm > select {
  width: 100%;
}

.orangeButton {
  background-color: #cb7e1f;
  border: none;
}

.article {
  display: flex;
  justify-content: center;
  gap: 2em;

  /*
  flex: 1 1 100%;
    flex-basis: 40rem;
  flex-grow: 999;
  align-items: start;

  
  */
}

.gridLayout {
  background-color: #eaeaea;
  display: grid;
  /*  grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr;

  padding: 1em;
  gap: 1em;
  justify-content: center;
  align-items: start;

  /* position: relative;
    grid-auto-flow: column;
justify-content: center;
   
   put in 2 x 3 grid
  grid-template-rows: auto auto auto;

  
  
  
  display: flex;
  flex-wrap: wrap;
  
  gap: 1em; */
}

.listing {
  /*  border: solid 1px rgb(90, 13, 13); */
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing > p {
  margin: 0.5em;
}

.filter {
  margin-top: 2em;
}

.fix {
  position: sticky;
  top: 2em;
}

#wrap {
  width: 90%;
}
.orangeHover:hover {
  color: rgb(226, 141, 13);
  transition: 0.1s;
}

.listingImage img {
  display: block;
  transition: transform 0.2s;
}

.listingImage:hover {
  transform: scale(1.05);

  /*    height: 250px;
z-index: 2;

  display: block;
  position: absolute;
  background-color: blueviolet;
  box-shadow: 1;
  */
}

/*checkout, cart*/

.productForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
}

.checkoutForm > input {
  width: 100%;
}

.twoButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.quantity {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.sizeAndGrind {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.productInCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  font-size: 13px;
}

.productInCart > p {
  text-align: left;
}

.largeGreyBox {
  background-color: #d7d7d7;
  border: solid 1px black;
  border-radius: 5px;
  width: 80%;
  justify-self: center;
  margin: 0.5em;
}

.addToCartPopUp {
  /* position: fixed;  display: flex; margin: 0 auto 0 auto;
  width: 50%;
  height: 10%;
*/
  visibility: hidden;
  margin: auto;
  position: fixed;
  top: 250px;
  left: 400px;
  right: 400px;
  bottom: 360px;

  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.hidden {
  display: none;

  /* visibility: hidden;
  max-height: 0;*/
}

/**/
.addToCartPopUp #open {
  /* position: fixed;  display: flex; margin: 0 auto 0 auto;
  width: 50%;
  height: 10%;
*/
  visibility: visible;
  margin: auto;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 400px;
  bottom: 320px;

  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.open {
  visibility: visible;
  display: block;
  z-index: 999;
}

.popUp {
  flex-direction: row;
  justify-content: center;
}

.orderConfirmBox {
  visibility: hidden;
  box-shadow: 1px 1px 1px;
  width: 30%;
  margin: auto;
  position: fixed;
  top: 400;
  left: 400px;
  right: 400px;
  bottom: 400px;
}

.open {
  visibility: visible;
  display: block;
  z-index: 999;
}

/*
.orderConfirmBox #show {
  visibility: visible;
  box-shadow: 1px 1px 1px;
  width: 30%;
  margin: auto;
  position: fixed;
  top: 400;
  left: 400px;
  right: 400px;
  bottom: 400px;
}*/

/*words on nav bar*/
.menuList {
  display: flex;
  align-items: flex-end;
}

/*nav bar on mobile size*/
@media screen and (max-width: 600px) {
  .menuList {
    display: none;
    max-height: 0;
  }

  .cornerLogo {
    width: 100px;
    margin-left: 5em;
  }

  .icons {
    float: right;
    padding-right: 0.5em;
  }

  .icons img,
  .menuButton img {
    width: 20px;
  }

  .icons > li {
    max-width: 0.5px;
  }

  /*hamburger menu*/
  .menuButton {
    visibility: visible;
    padding: 1em;
    margin-top: 2.3em;
  }

  .icons {
    margin-bottom: -1em;
  }
  .clusterNav {
    margin: auto;
  }

  .freeShipping {
    padding: 0.2em;
  }
  .freeShipping p {
    font-size: smaller;
  }
}

/*homepage responsive*/
@media screen and (max-width: 600px) {
  /*.heroImage {
    rotate: 270deg;
  }*/

  .heroText {
    width: 70%;
  }

  .heroText h2 {
    padding: 1em;
    margin-top: 6em;
    width: 70vw;
    font-size: 24px;
    background-color: hsla(0, 0%, 0%, 0.63);
    border-radius: 5px;
  }
  /**/
  .heroText p {
    text-wrap: nowrap;
    text-align: center;
  }
  .shopNowButton {
    width: 70%;
    margin-left: 3em;
    margin-top: 4em;
    cursor: pointer;
  }
}

/*products list*/
@media screen and (max-width: 600px) {
  .titleText {
    margin-top: 0.5em;
  }
  .productsIntro {
    visibility: hidden;
    max-height: 0;
  }

  .filter {
    display: flex;
    flex-direction: row;
    z-index: 4;
    position: absolute;
    justify-content: space-around;
    align-items: end;
  }

  ul.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3em;
    padding-bottom: 1em;
    gap: 10px;
  }

  .listing img {
    height: 180px;
  }

  .listing {
    max-width: 40%;
    text-align: center;
  }

  .listing p {
    font-size: 15px;
    width: 120%;
  }

  /*
  .productGrid {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 0.75em;
  }*/

  .pageOfProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productGrid {
    width: 90%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
  }

  .breadcrumb {
    font-size: 14px;
  }
}

/*desktop, sticks filter to top*/
@media screen and (min-width: 600px) {
  .filter > ul {
    position: sticky;
    top: 2em;
  }
  .productInCart > .lineHeight {
    width: 30%;
  }
  .productInCart > .lineHeight > p {
    width: 120%;
  }

  .productInCart > .inputButton {
    margin: 0;
  }
}

/*individual products*/
@media screen and (max-width: 600px) {
  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  .leftColumn,
  .rightColumn {
    all: initial;
    font-family: Arial, Helvetica, sans-serif;
  }

  .rightColumn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftColumn {
    text-align: center;
  }

  .leftColumn p {
    text-align: left;
  }
  .leftColumn img {
    width: 200px;
  }

  .addToCartPopUp {
    width: 90vw;
    position: fixed;
    top: 150px;
    left: 20px;
    right: 20px;
    bottom: 400px;
  }
  /* 
  .addToCartPopUp > .productInCart {
    width: 90%;
  }

  
  .infoProduct {
    display: flex;
    flex-direction: column;
    order: img, addToCart, productInfo;
  }
  */
}

/*cart*/
@media screen and (max-width: 600px) {
  .cartColumns > .leftColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  /*
.productCartList {
    width: 80%;
  }*/
  .productInCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2em;
  }

  .productInCart .inputButton {
    margin-bottom: 0.2em;
  }

  .cartColumns .productInCart img {
    width: 70px;
  }

  /*
  .productInCart > p {
    font-size: 14px;
    padding: ;
  }*/

  .productInCart p {
    font-size: 13px;
    padding-left: 1em;
  }
  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d7d7d7;
    padding: 2em;
    border: solid 1px black;
    border-radius: 5px;
    width: 85%;
  }
  /*.cart {
    position: relative;
  }*/
}

/*checkout*/
@media screen and (max-width: 600px) {
  .largeGreyBox {
    /* background-color: rgb(36, 172, 172);*/
    width: 90%;
  }

  .largeGreyBox > input select {
    max-width: 200px;
  }
  .largeGreyBox label {
    text-align: left;
  }

  .checkoutColumns > .leftColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .checkoutColumns > .order {
    background-color: #d7d7d7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: solid 1px black;
    box-shadow: 1px 1px 0.5px;
    border-radius: 5px;
    width: 85%;
  }

  .button-action {
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
  }

  .order > .productInCart {
    font-size: 14px;
    width: 80%;
    justify-content: center;
  }

  .order #forProductTwo p {
    padding-right: 1.2em;
  }
  .orderConfirmBox {
    display: block;
    width: 80%;
    position: fixed;
    top: 260px;
    left: 20px;
    right: 20px;
    bottom: 420px;
  }
}

/*
@media screen and (min-width: 600px) {
  .menulist {
    visibility: visible;
  }
}*/
